@import './colors'
@import './fonts'
.nav-item
    display: flex
    align-items: center
    jusfify-content: center
    .nav-NavLink-2
        color: white
        padding-right: 2rem
        padding-left: 2rem
    .nav-NavLink-2.active
        color: $secondary!important

.navbar-collapse
    @media (max-width: 760px)
        background: #414141
        padding: 16px
        margin-top: 19px
.text-small
    font-size: 0.7em
.hide-mobile
    @media (max-width: 760px)
        display: none
.hide-desktop
    display: none!important
    @media (max-width: 760px)
        display: flex!important
.title-mobile
    font-size: 1.3em