.jumbotron 
    margin-top: 2rem
    height: 80vh
    display: flex-col
    justify-content: center
    align-items:center
    font-weight: bold
    .button
        color : black
        align-items : flex-end  
   
  
