.jumbotron 
    background: url("/img/people-wearing-diy-masks-3951628.jpg") no-repeat center
    background-size: cover
    min-height: 530px
    position: relative
    .over
        position: absolute
        width: 100%
        height: 100%
        background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(4,4,42,0.5998774509803921) 27%, rgba(0,212,255,0.23853291316526615) 100%)
        top: 0px
        z-index: 5
    .container-fluid
        z-index: 10
    h1
        font-weight: bold
    h1, p
        color: white
    .btn-primary 
        // background-color: #c60063
        // border-color: #c60063

//https://cssgradient.io/